
@{
    ViewBag.Title = "登入";
}

<h2>登入</h2>

<div class="container justify-content-center">
    <div class="row">
        <div class="col-6"><a href="@Url.Action("Login", "Home")"><img src="~/images/user.png" class="img-fluid" style="width:200px; margin:0px; padding:0px;" /></a></div>
        <div class="col-6"><a href="@Url.Action("ManagerLogin", "Home")"><img src="~/images/manager.png" class="img-fluid" style="width:200px; margin:0px; padding:0px;" /></a></div>
    </div>
</div>






@*<li>@Html.ActionLink("會員登入", "Login", "Home")</li>
<li>@Html.ActionLink("管理者登入", "ManagerLogin", "Home")</li>*@