
@{
    ViewBag.Title = "婚宴方案";
}


<style>

    /* <======================婚宴方案開始============================ */
    h1 {
        font-size: 30px;
        font-weight: 500;
        color: #000000;
        font-family: "Microsoft JhengHei";
    }

    p {
        font-size: 16px;
        font-family: "Microsoft JhengHei";
    }

    h3 {
        font-size: 24px;
        color: rgba(0, 0, 0, 0.7);
        font-family: "Microsoft JhengHei";
    }

    .col-8 img {
        border: 0;
        border-radius: 5px;
        box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.7);
    }

    /* <======================婚宴方案結束============================ */
</style>




<h1 class="nav-tabs" style="font-size:40px; font-weight: 500;color:#ff0000;font-family: 'Microsoft JhengHei';">
    婚宴方案
</h1>

<div class="row p-5 m-5">
    <div class="col-8" style="float: left;text-align: center;">
        <h1 class="nav-tabs">參考作品</h1>
        <p>
            <img src="~/images/prj/wedding.jpg" class="img-fluid">
        </p>
        <p>
            <img src="~/images/prj/wedding2.jpg" class="img-fluid">
        </p>
    </div>
    <div class="col-4 flex-column" style="text-align: center ;float: right;">
        <h1>頤品限定日婚宴</h1>
        <br>
        <p>NT$ 12,990 - 13,990 + 10 %</p>
        <br>
        <h3 class="nav-tabs">方案內容</h3>
        <br>
        <p>
            【菜單介紹】

            歡迎洽詢 頤品新莊晶冠館

            【餐飲服務】
            雲朗觀光集團五星級品牌、品質保證
            雲朗觀光法國精選紅酒
            每桌果汁席間無限暢飲
            提供新人宴會前精緻餐飲服務
            每桌贈送開席前十道精緻小碟

            【婚禮企劃、布置服務】
            提供主桌專屬主題佈置
            提供接待區主題式佈置
            頤品專屬星光大道
            提供新人浪漫進場服務
            提供迎賓海報服務
            新娘專屬休息室
            免費提供迎賓喜糖、送客喜糖及喜糖籃
            免費贈送迎賓雞尾酒
            每桌精緻菜單及桌卡製作
            高級收禮桌用品(含禮金簿、紅包袋、簽名本、簽名筆、謝卡)
            提供賓客用餐免費停車及禮車專屬停車位
            婚禮顧問諮詢、婚禮企劃
            婚禮音樂規劃、婚宴流程掌控執行
            提供免費婚禮主持服務
            提供貼心管家服務
            提供相關廠商資訊服務
            提供免費五星震撼燈光設備
            免費提供香檳塔及氣泡酒乙瓶
            億萬燈光音響.LED屏幕設計
            提供免費專業燈光音響工程師服務
            提供數位電腦燈、泡泡機及各式特效服務
        </p>
    </div>
</div>